/dracovenv/
/interface/node_modules/
/interface/public/
/assets/
/.idea/
/gvae/
/interface/gvaemodel/__pycache__/
/interface/gvaemodel/node_modules/
/interface/gvaemodel/public/
/__pycache__/
/node_modules/
/deep-tamer
/tamer
/interface/__pycache__/
/sourcedata/
*.json
/interface/ShiftScopeLogs/

